<table>
    <tr>
        <td>
            <p>Juan Daniel Rodríguez Oropeza</p>
            <p>Ser SNI 3, y tener cuadritos</p>
        </td>
        <td>
            <img src="../../assets/A01411625_Juan Daniel Rodríguez Oropeza.jpg" width="100" height="100" alt="Una foto mía">
        </td>

        <td>
            <ul>
                <li>j_danny07@hotmail.com</li>
                <li>8331283114</li>
                <li>Ciudad Madero, Tamaulipas</li>
                <li>@DannyJr08</li>
            </ul>
        </td>
    </tr>
</table>